@charset "utf-8";

body {
    display: flex;
    flex-flow: row;
}

canvas {
    border: solid 1px #000;
}

.buttonGroup input[type="radio"] {
    display: none;
}

.buttonGroup label {
    border-top: solid 1px #999999;
    border-bottom: solid 1px #999999;
    border-right: solid 1px #999999;
    background-color: #cccccc;
    padding: 5px;
}

.buttonGroup > label:first-of-type {
    border-left: solid 1px #999999;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.buttonGroup > label:last-of-type {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.buttonGroup input[type="radio"]:checked + label {
    background-color: #ffffff;
}
